
body {
    font-family: 'Poppins', sans-serif;
}

/* Estilização primeiro box: título */
.title{
    box-shadow: 0px 4px 30px -10px rgb(0 0 0 / 25%);
    align-items: center; 
    height: 70px;
    text-align: center;
    
}

.title_text{
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}

/* Estilização segundo box: tags e campo de pesquisa */
.section_tags{
    margin-top: 35px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 150px;  
    margin-right: 150px;
}

nav ul{
    display: flex;
    flex-direction: row; 
  
}

nav ul li{
    padding-right: 20px;
}

.btn_all{
    background-color: #12B886;
    border: 1px solid #12B886;
    color: white;
    border-radius: 8px;
    width: 177px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.btn_all:hover{
    background-color: #e3f7f1;
    color: #12B886;
}

.btn_others{
    background-color: #e3f7f1;
    border: 1px solid #e6edeb;
    color: #12B886;
    border-radius: 8px;
    width: 177px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.btn_others:hover{
    background-color: #12B886;
    color: #e3f7f1;
}

.form_field{
    display: flex;
    flex-direction: row;
    width: 450px;
}
.search_field{
    background-color: #e6edeb;
    border: 1px solid #e6edeb;
    color: #515252;
    border-radius: 8px;
    width: 324px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
}

.search_field:hover{
    border: 1px solid grey;
}
.search_button{
    background-color: #12B886;
    border: 1px solid #12B886;
    color: white;
    border-radius: 8px;
    width: 59px;
    height: 52px;
    font-size: 20px;
    margin-left: 20px;
}

/* Estilização terceiro box: valor total produtos  */

.section_total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 56px;
}

.total_text{
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
}

.box_total_value{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 34px;
    background-color: black ;
    border-radius: 8px;
    color: white;
    margin-right: 15px;
    text-align: center;
    

}

/* Estilização quarto box: cards de produtos  */

.container_cards_cart{
    display: flex;
    flex-direction: row;
}


.section_cards{
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
}

.tagUl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 274px;
    height: 350px;
    border-radius: 8px;
    margin: 10px;
}

/* Estilização itens dentro do card */

.figure{
    width: 274px;
    height: 175px ;
    align-items: center;
    align-content: center;
    border-radius: 8px;
   
}

.img{
    width: 274px;
    height: 175px ;
    border-radius: 8px;
}

.card .nome{
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    color: #212529;

}

.card .tag{

    font-weight: 400;
    font-size: 15px;   
    color: #868E96;
 
}

.card .nutrientes{
    font-weight: 400;
    font-size: 12px;   
    color: #868E96;
}

.card .span_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 274px;
}

.card .preco{
    font-weight: 500;
    font-size: 15px;
    color: #212529
}

.card .botao_comprar{
    background: rgba(18, 184, 134, 0.05);
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    color: #12B886;
    border-radius: 8px;
    width: 71px;
    height: 29px;
    font-weight: 500;
    font-size: 11px;
    cursor: pointer;
    
}

.botao_comprar:hover{
    transform: scale(1.2);
}

/* Estilização Aside */

.aside{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-right: 200px;

}

.cart_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 350px;
    height: 42px;
    background-color: #12B886;
    border-radius: 12px 12px 0px 0px;
    color: white;
    padding-left: 15px;
}

/* Estilização Carrinho */

.cart_render_box{
    width: 350px;
    min-height: 300px;
    max-height: 350px;
    margin-top: 10px;
    overflow: scroll;
}

.cart_render_list{
    display: flex;
    flex-direction: column;
}

.card_carrinho{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.div_esquerda{
    width: 100px;
    height: 90px;
    border-radius: 8px;
    margin-right: 20px;
}

.img_carrinho{
    width: 100px;
    height: 90px;
    border-radius: 8px;
}

.div_direita{
    min-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.btn_excluir{
    border: 1.5px solid rgba(18, 184, 134, 0.05);
    background-color: rgb(237, 233, 233);
    border-radius: 5px;
}

.btn_excluir:hover{
    transform: scale(1.2);
}


.secao_carrinho{
    font-weight: 400;
    font-size: 13px;
    color: #868E96;
}

.preco_carrinho{
    font-weight: 400;
    font-size: 14px;
}


.cart_box_quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 348px;
    height: 40px;
    background: #F8F9FA;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.cart_box_value{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 348px;
    height: 40px;
    background: #F8F9FA;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
