
body {
    font-family: 'Poppins', sans-serif;
}

/* Estilização primeiro box: título */
.title{
    box-shadow: 0px 4px 30px -10px rgb(0 0 0 / 25%);
    align-items: center; 
    height: 70px;
    text-align: center;
    
}

.title_text{
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}

/* Estilização segundo box: tags e campo de pesquisa */
.section_tags{
    margin-top: 35px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-left: 150px;  
    margin-right: 150px;
}

nav ul{
    display: flex;
    flex-direction: row; 
  
}

nav ul li{
    padding-right: 20px;
}

.btn_all{
    background-color: #12B886;
    border: 1px solid #12B886;
    color: white;
    border-radius: 8px;
    width: 177px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
}

.btn_others{
    background-color: #e3f7f1;
    border: 1px solid #e6edeb;
    color: #12B886;
    border-radius: 8px;
    width: 177px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
}

.search_field{
    background-color: #e6edeb;
    border: 1px solid #e6edeb;
    color: #515252;
    border-radius: 8px;
    width: 324px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
}

.search_button{
    background-color: #12B886;
    border: 1px solid #12B886;
    color: white;
    border-radius: 8px;
    width: 59px;
    height: 52px;
    font-size: 20px;
}

/* Estilização terceiro box: valor total produtos  */

.section_total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    height: 56px;
}

.total_text{
    font-weight: 400;
    font-size: 16px;
    margin-left: 15px;
}

.box_total_value{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 34px;
    background-color: black ;
    border-radius: 8px;
    color: white;
    margin-right: 15px;
    text-align: center;
    

}

/* Estilização quarto box: cards de produtos  */

.section_cards{
    margin-top: 35px;
    margin-left: 150px;
    margin-right: 150px;
}

.tagUl{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 274px;
    height: 350px;
    border-radius: 8px;
    margin: 10px;
}

.card:hover{
    transform: scale(1.05);
}

/* Estilização itens dentro do card */

.figure{
    width: 274px;
    height: 175px ;
    align-items: center;
    align-content: center;
    border-radius: 8px;
   
}

.img{
    width: 274px;
    height: 175px ;
    border-radius: 8px;
}

.card .nome{
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    color: #212529;

}

.card .tag{
    font-weight: 400;
    font-size: 15px;   
    color: #868E96;
 
}

.card .preco{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    color: #212529
}
